{% load blog_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>Mój blog</h2>
        <p>This it my blog. I published {% total_posts %} posts as yet.</p>
        <h3>The newest posts:</h3>
        {% show_latest_posts 3 %}
    </div>
</body>
</html>
